
<form action="/contestant/create" method="POST">
    <h2>Create a Contestant</h2>

    <input type="text" placeholder="First Name" name="first_name"> <br/>
    <input type="text" placeholder="Last Name" name="last_name"> <br/>
    <input type="text" placeholder="Star Wars Name" name="starwars_name"> <br/>
    <input type="submit" value="Create Contestant" />
  </form>
