
<form action="/contestant/create" method="POST">
    <h2>Create a Contestant</h2>

  <div class="dropdown">

    <button onclick="myFunction()" class="dropbtn">Dropdown</button>

    <div id="myDropdown" class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>

  </div>

    <input type="text" placeholder="First Name" name="first_name"> <br/>
    <input type="text" placeholder="Last Name" name="last_name"> <br/>
    <input type="text" placeholder="Star Wars Name" name="starwars_name"> <br/>
    <input type="text" placeholder="Street Address" name="street_address"> <br/>
    <input type="text" placeholder="City" name="city"> <br/>
    <input type="text" placeholder="State" name="state"> <br/>
    <input type="text" placeholder="Zip" name="zip"> <br/>
    <input type="text" placeholder="Email" name="email"> <br/>
    <input type="text" placeholder="Cell Phone" name="cell_phone"> <br/>
    <input type="submit" value="Create Contestant" />
  </form>
