


  <h1>Create a Contestant</h1>

    <div id="content3">

      <form action="/contestant/create" method="POST">
          <input type="text" placeholder="First Name" name="first_name"> <br/>
          <input type="text" placeholder="Last Name" name="last_name"> <br/>
        <br>
          <input type="submit" value="Create Contestant" />
      </form>

    </div>
