
<h1>Contestant Information:</h1>

    <div id="content3">

      <h1>Contestant:  <%= contestant.first_name + " " + contestant.last_name %></h1>
      <h1>Star Wars Name:  <%= contestant.starwars_name %></h1>

    </div>
