
    <h1>Semester projecct</h1>

    <h1>StarWars API</h1>

        <div class="info-container">

          <h1 id="name"></h1>

        </div>

        <button type="button" id='button' name="button">Find Character</button>


      <p>

        This web application is a mashup of four API's and the culmination a semester project for Group 1 in ISQA 4380.
        The API's used were the following:

        <br/><br/>

        <b>1.  Star Wars API - <i>https://swapi.co/</i></b>
        <br/>
        <b>2.  Open Trivia <i>https://opentdb.com/api_config.php</i></b>
        <br/>
        <b>3.  Google Maps <i>https://developers.google.com/maps/</i></b>
        <br/>
        <b>4.  Goibibo <i>https://developer.goibibo.com/docs</i></b>
        <br/>

      </p>
