
    <div id="homepage">

    <h1>Semester projecct</h1>


    <form id="swname" action="/contestant/new" method="POST">
      <input type="submit" value="New Contestant" />
    </form>


      <p>


        <br/><br/>

        <b>1.  Star Wars API - <i>https://swapi.co/</i></b>
        <br/>
        <b>2.  Open Trivia <i>https://opentdb.com/api_config.php</i></b>
        <br/>
        <b>3.  Google Maps <i>https://developers.google.com/maps/</i></b>
        <br/>
        <b>4.  Goibibo <i>https://developer.goibibo.com/docs</i></b>
        <br/>

      </p>

    </div>
