

  <h1>Semester Project!</h1>

    <div id="homepage">

      <p>Please <b>click the below button</b> to create a Star Wars character and have the chance to win a
        free trip to anywhere of your choice!

      </p>

      <br>

      <form id="swname" action="/contestant/new" method="POST">
        <input type="submit" value="New Contestant" />
      </form>

    </div>


  <p>

    <br/><br/>

    <b>1.  Star Wars API - <i>https://swapi.co/</i></b>
    <br/>
    <b>2.  Open Trivia <i>https://opentdb.com/api_config.php</i></b>
    <br/>
    <b>3.  Google Maps <i>https://developers.google.com/maps/</i></b>
    <br/>
    <b>4.  Goibibo <i>https://developer.goibibo.com/docs</i></b>
    <br/>

  </p>
